.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.error {
  color: red;
  font-size: 1rem;
  font-weight: 300;
}

.StatsTable {
  margin-left: auto;
  margin-right: auto;
}

.StatusTable {
  margin-left: auto;
  margin-right: auto;
}

.green {
  color: green;
  font-size: 1rem;
  font-weight: 500;
}

.yellow {
  color: yellow;
  font-size: 1rem;
  font-weight: 500;
}

.red {
  color: red;
  font-size: 1rem;
  font-weight: 500;
}
